@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
    --color-lightgray: #393b3f;
    --color-darkgray: #222529;
    --color-midgray: #2f3136;
    --color-verylightgreen: #d5ebdb;
    --font-roboto: "Roboto", sans-serif;
}

@layer components {
    .prose-container {
        @apply bg-slate-200 dark:bg-[#111C22] p-6 px-8 w-full rounded-xl prose prose-p:my-5 text-black dark:text-white flex-wrap max-w-full;
        @apply prose-headings:dark:text-white prose-headings:border-b-1 prose-headings:border-b-1 prose-headings:border-darkgray dark:prose-headings:border-slate-100;
        @apply prose-h1:text-3xl prose-h2:text-2xl prose-h3:text-xl prose-h4:text-xl prose-h5:text-xl;
        @apply prose-a:decoration-black prose-a:decoration-blue-800 prose-a:text-blue-800 dark:prose-a:text-orange-600 dark:prose-a:decoration-orange-700;
        @apply prose-lead:text-xl prose-lead:mb-5 dark:prose-lead:text-white/90;
        @apply prose-hr:mt-8 prose-hr:mb-4 prose-hr:border-t-1 prose-hr:border-darkgray;
        @apply prose-blockquote:border-l-4 prose-blockquote:border-darkgray prose-blockquote:pl-4 dark:prose-blockquote:text-white dark:prose-blockquote:border-orange-400;
        @apply prose-strong:text-amber-600 dark:prose-strong:text-orange-400;
        @apply prose-li:marker:text-black dark:prose-li:marker:text-white;
    }

    #toc-title {
        @apply hidden;
    }
}
