package templates

import "Blog/internal/repository"
import "time"

templ PostCard(post repository.Post) {
	<h1>{ post.Title }</h1>
	<p>{ post.CreatedAt.Time.Format(time.DateTime) }</p>
	<p>{ post.ModifiedAt.Time.Format(time.DateTime) }</p>
	<p>{ post.Slug }</p>
}

templ ParsedMarkdown(content string) {
	@templ.Raw(content)
}
