package templates

import "Blog/internal/repository"

templ Post(post repository.Post) {
<article>
    <header>
        <h1>{ post.Title }</h1>
        <p>{ post.CreatedAt.Time.String() }</p>
        <p>{ post.ModifiedAt.Time.String() }</p>
    </header>
    <section>
        { post.Content }
        { post.Slug }
    </section>
</article>
}

templ ParsedMarkdown(content string) {
@templ.Raw(content)
}
